<div class="card">
  <div class="card-header">
    <i class="fa fa-sticky-note mr-2" aria-hidden="true"></i>Templetes
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Featured
          </div>
          <div class="listContainer">
            <ul class="list-group">
              <li class="p-2 bg-light">
                <input class="form-control" type="text" placeholder="Search Templete" (keyup)="searchTempletes($event.target.value)">
              </li>
              <li class="d-flex p-1 border-bottom align-items-center" *ngFor="let templates of templateData;">

                <span class="mr-auto pl-2">{{templates.title}}</span>

                <span class="ml-auto">
                  <button type="button" (click)="editTemplate(templates)"
                    class="btn fa fa-pencil text-primary "></button><button type="button"
                    class="btn fa fa-trash text-danger " (click)="templateDeleteId = templates.templateId;" data-toggle="modal"
                    data-target="#exampleModal"></button>
                </span>

              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-3">
            <p class="h6">Title<span class="float-right">:</span></p>
          </div>
          <div class="col-9">
            <input class="form-control" [(ngModel)]="templateTitle" type="text">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <p class="h6">Templete<span class="float-right">:</span></p>
          </div>
          <div class="col-9">
            <textarea name="Templete" id="Templete" [(ngModel)]="templateMessage" class="form-control"
              rows="10"></textarea>
          </div>
        </div>
        <div class="row mt-3">
          <div class="offset-3 col-9">
            <button type="button" class="btn btn-primary float-right"
              (click)="templateButtonText == 'Add' ? addTemplates():updateTemplate()">{{templateButtonText}}</button>
            <button type="button" class="btn btn-dark float-right mr-2" (click)="reset()">Reset</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#597917" type = "square-jelly-box" ></ngx-spinner>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the template?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteTemplete()">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>