<div class="card">
  <div class="card-header">
    <i class="fa fa-sticky-note mr-2" aria-hidden="true"></i>Templetes
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            Featured
          </div>
          <div class="listContainer">
            <ul class="list-group">
              <li class="d-flex p-1 border-bottom align-items-center">

                <span class="mr-auto pl-2">Cras justo odio</span>

                <span class="ml-auto">
                  <button type="button" class="btn fa  fa-pencil text-primary "></button><button type="button"
                    class="btn fa fa-trash   text-danger "></button>
                </span>

              </li>
              <li class="d-flex p-1 border-bottom align-items-center">

                <span class="mr-auto pl-2">Cras justo odio</span>

                <span class="ml-auto">
                  <button type="button" class="btn fa  fa-pencil text-primary "></button><button type="button"
                    class="btn fa fa-trash   text-danger "></button>
                </span>

              </li>
              <li class="d-flex p-1 border-bottom align-items-center">

                <span class="mr-auto pl-2">Cras justo odio</span>

                <span class="ml-auto">
                  <button type="button" class="btn fa  fa-pencil text-primary "></button><button type="button"
                    class="btn fa fa-trash   text-danger "></button>
                </span>

              </li>
              <li class="d-flex p-1 border-bottom align-items-center">

                <span class="mr-auto pl-2">Cras justo odio</span>

                <span class="ml-auto">
                  <button type="button" class="btn fa  fa-pencil text-primary "></button><button type="button"
                    class="btn fa fa-trash   text-danger "></button>
                </span>

              </li>
              <li class="d-flex p-1 border-bottom align-items-center">

                <span class="mr-auto pl-2">Cras justo odio</span>

                <span class="ml-auto">
                  <button type="button" class="btn fa  fa-pencil text-primary "></button><button type="button"
                    class="btn fa fa-trash   text-danger "></button>
                </span>

              </li>
              <li class="d-flex p-1 border-bottom align-items-center">

                <span class="mr-auto pl-2">Cras justo odio</span>

                <span class="ml-auto">
                  <button type="button" class="btn fa  fa-pencil text-primary "></button><button type="button"
                    class="btn fa fa-trash   text-danger "></button>
                </span>

              </li>
              <li class="d-flex p-1 border-bottom align-items-center">

                <span class="mr-auto pl-2">Cras justo odio</span>

                <span class="ml-auto">
                  <button type="button" class="btn fa  fa-pencil text-primary "></button><button type="button"
                    class="btn fa fa-trash   text-danger "></button>
                </span>

              </li>
              <li class="d-flex p-1 border-bottom align-items-center">

                <span class="mr-auto pl-2">Cras justo odio</span>

                <span class="ml-auto">
                  <button type="button" class="btn fa  fa-pencil text-primary "></button><button type="button"
                    class="btn fa fa-trash   text-danger "></button>
                </span>

              </li>
              <li class="d-flex p-1 border-bottom align-items-center">

                <span class="mr-auto pl-2">Cras justo odio</span>

                <span class="ml-auto">
                  <button type="button" class="btn fa  fa-pencil text-primary "></button><button type="button"
                    class="btn fa fa-trash   text-danger "></button>
                </span>

              </li>
              <li class="d-flex p-1 border-bottom align-items-center">

                <span class="mr-auto pl-2">Cras justo odio</span>

                <span class="ml-auto">
                  <button type="button" class="btn fa  fa-pencil text-primary "></button><button type="button"
                    class="btn fa fa-trash   text-danger "></button>
                </span>

              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-3">
            <p class="h6">Title<span class="float-right">:</span></p>
          </div>
          <div class="col-9">
            <input class="form-control" type="text">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <p class="h6">Templete<span class="float-right">:</span></p>
          </div>
          <div class="col-9">
            <textarea name="Templete" id="Templete" [(ngModel)]="templete" cols="85" rows="10"></textarea>
          </div>
        </div>
        <div class="row mt-3">
          <div class="offset-3 col-8 d-flex">
            <button type="button" class="btn btn-info  ml-auto">Add</button>
            <button type="button" class="btn btn-dark  mx-auto">Reset</button>
            <button type="button" class="btn btn-primary mr-auto">Save</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>