::ng-deep tag-input .dark.ng2-tag-input .ng2-tags-container{
max-height: 90px;
overflow: auto;
}

.seleced-templatename {
    background: #343a40;
    color: #ffffff;
    float: left;
    font-size: 13px;
  }
  .seleced-templatename a {
      cursor: pointer;
      font-weight: bold;
  }