<div class="card">
  <div class="card-header">
    <i class="fa fa-comments mr-2" aria-hidden="true"></i>Send SMS
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <p class="h6">Recipient Type<span class="float-right">:</span></p>
      </div>
      <div class="col-4">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary shadow-none" id="Individual"
            (click)="changeClass($event,'Individual')">Individual</button>
          <button type="button" class="btn btn-outline-primary shadow-none" id="GroupSms"
            (click)="changeClass($event,'Group')">Group</button>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <p class="h6">Recipients<span class="float-right">:</span></p>
      </div>
      <div class="col-8">
        <tag-input *ngIf="searchType == 'Individual'" [placeholder]="'Add a new Individual'"
          (onSelect)="onSelect($event)" [onTextChangeDebounce]="500" [theme]="'dark'"
          [secondaryPlaceholder]="'Search Individual'" [onlyFromAutocomplete]="true" [(ngModel)]="selectedIndividuals"
          [displayBy]="'name'" [identifyBy]="'userId'">
          <ng-template let-item="item">
            {{ item.name}}&lt;{{item.phoneNumber}}&gt;
          </ng-template>
          <tag-input-dropdown [autocompleteObservable]="requestAutoCompleteIndividual" [displayBy]="'name'"
            [identifyBy]="'userId'">
            <ng-template let-item="item" let-index="index">
              {{ item.name}}-{{item.phoneNumber}}
            </ng-template>
          </tag-input-dropdown>
        </tag-input>
        <tag-input *ngIf="searchType == 'Group'" [placeholder]="'Add a new Group'"
          (onSelect)="onSelect($event)" [onTextChangeDebounce]="500" [theme]="'dark'"
          [secondaryPlaceholder]="'Search Group'" [onlyFromAutocomplete]="true" [(ngModel)]="selectedGroups"
          [displayBy]="'groupName'" [identifyBy]="'groupId'">
          <ng-template let-item="item">
            {{ item.groupName}}&nbsp;<i class="fa fa-users" aria-hidden="true"></i>&nbsp;{{item.users.length}}
          </ng-template>
          <tag-input-dropdown [autocompleteObservable]="requestAutoCompleteGroup" [displayBy]="'groupName'"
            [identifyBy]="'groupId'">
            <ng-template let-item="item" let-index="index">
              {{ item.groupName}}&nbsp;<i class="fa fa-users" aria-hidden="true"></i>&nbsp;{{item.users.length}}
            </ng-template>
          </tag-input-dropdown>
        </tag-input>

      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2">
        <p class="h6">Message<span class="float-right">:</span></p>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-primary" id="GroupSms" data-toggle="modal"
          data-target="#exampleModal">Choose Template</button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="offset-2 col-6">
        <textarea name="message" id="message" [(ngModel)]="message" cols="85" rows="5"></textarea>

      </div>
      <div class="offset-2 col-6 mt-3">
        <button type="button" class="btn btn-info float-left" id="GroupSms">Reset</button>
        <button type="button" class="btn btn-primary float-right" id="GroupSms">Send</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>