<div class="card">
  <div class="card-header">
    <span class="h5">Contacts and Groups</span>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <span class="h6">Contacts</span>
        <div class="float-right">
          <div *ngIf="selectedContacts.length<2">
          <button class="btn btn-sm btn-primary" (click)="addContactModal()">Add Contact</button>&nbsp;
          <button class="btn btn-sm btn-info" routerLink="import-contacts">Import Contact</button></div>
          <div *ngIf="selectedContacts.length>1">
            <button class="btn btn-sm btn-primary" (click)="sendSms(1,selectedContacts)">Send Sms</button>&nbsp;
            <button class="btn btn-sm btn-info" (click)="AddMultipleUsersToGroupModal(selectedContacts)">Add to Group</button>
          </div>
        </div><br><br>
        <div class="border">
          <div class="searchDiv p-2 bg-light">
            <input class="form-control" type="text" placeholder="Search Contacts" (keyup)="searchContacts($event.target.value)">
          </div>
          <div class="listDiv accordion">
          <div class="row no-gutters border" *ngFor="let contact of contacts ; let i=index">
              <div class="bg-info w-100 p-3 accordian-header">
                <span class="h6">{{contact.group}}</span>
                <span class="pull-right" data-toggle="collapse" [attr.data-target]="'#collapse' +i " aria-expanded="false" [attr.aria-controls]="'#collapse' +i ">
                <i class="fa fa-chevron-right"></i>
                <i class="fa fa-chevron-down"></i></span>
              </div>
              <div id="collapse{{i}}" class="w-100 collapse">
                <div class="row border-bottom bg-light no-gutters" *ngFor="let children of contact.children">
                  <div class="col-1 p-2">
                    <input type="checkbox" [(ngModel)]="children.checked" class="option-input checkbox" (change)="selectContact(children)">
                  </div>
                  <div class="col-10 p-1">
                    <span>
                      <h6>{{children.name}}</h6>
                      {{children.phoneNumber}}
                    </span>
                  </div>
                  <div class="col-1 p-3">
                    <a class="text-info" [ngbPopover]="popContent" [routerLink]="null" tabindex="-1"
                    [autoClose]="true" placement="left" container="body">
                      <i class="icon-options"></i>
                  </a>
                  <ng-template #popContent>
                    <a class="btn btn-sm text-primary w-100 text-left" [routerLink]="null" (click)="sendSms(1,children)"><h6>Send Sms</h6></a><br>
                    <a class="btn btn-sm text-info w-100 text-left" [routerLink]="null" (click)="AddSingleUserToGroupModal(children.userId)"><h6>Add To Group</h6></a><br>
                    <a class="btn btn-sm w-100 text-left" [routerLink]="null" (click)="editContactModal(children)"><h6>Edit</h6></a><br>
                    <a class="btn btn-sm text-danger w-100 text-left" [routerLink]="null" (click)="openDeleteModal(1,children.userId)"><h6>Delete</h6></a>
                  </ng-template>
                  </div>
              </div>
              </div>
              
          </div>
          <div *ngIf="contacts.length==0">
            <div class="bg-light p-3 text-center font-weight-bold text-info">No Contacts Found</div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="col-6">
        <span class="h6">Groups</span>
        <div class="float-right">
          <button class="btn btn-sm btn-primary" [routerLink]="['add-edit-group', 1]">Add Group</button>&nbsp;
        </div><br><br>
        <div class="border">
          <div class="searchDiv bg-light p-2">
            <input class="form-control" type="text" placeholder="Search Groups" (keyup)="searchGroups($event.target.value)">
          </div>
          <div class="listDiv">
          <div class="row bg-white no-gutters border" *ngFor="let group of groups ; let i=index">
              <div class="col-11 p-2">
                <span class="font-weight-bold text-info">{{group.groupName}}</span><br>
               <span class="text-muted"> {{group.users?.length}} Contacts
              </span></div>
              <div class="col-1 p-3">
                <a class="text-info" [routerLink]="null" tabindex="-1" [ngbPopover]="popContent"
                [autoClose]="true" placement="auto" container="body">
                      <i class="icon-options"></i>
                  </a>
                  <ng-template #popContent>
                   <a class="btn btn-sm text-primary w-100 text-left" [routerLink]="null" (click)="sendSms(2,group)"><h6>Send Sms</h6></a><br>
                    <a class="btn btn-sm w-100 text-left" [routerLink]="null" (click)="editGroup(group)"><h6>Edit</h6></a><br>
                    <a class="btn btn-sm text-danger w-100 text-left" [routerLink]="null" (click)="openDeleteModal(2,group.groupId)"><h6>Delete</h6></a>
                  </ng-template>
              </div>
          </div>
          <div *ngIf="groups.length==0">
            <div class="bg-light p-3 text-center font-weight-bold text-info">No Groups Found</div>
          </div>
        </div>
        </div>
      </div>
  </div>
</div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)"  color = "#6c757d" type = "square-jelly-box" ></ngx-spinner>

<!-- Add contact modal -->
<div class="modal fade" id="addContactModal" tabindex="-1" role="dialog" aria-labelledby="addContactModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="text-white">Add Contact</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contactForm">
          <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" formControlName="name" class="form-control">
            <div class="error-msg-area">
              <div *ngIf="contactForm.controls['name'].errors && (!contactForm.controls['name'].pristine|| isContactFormSubmitted)"
                class="error-msg">
                <div [hidden]="!contactForm.controls['name'].errors.required">Please Enter Name.</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="text" formControlName="phoneNumber" class="form-control">
            <div class="error-msg-area">
              <div *ngIf="contactForm.controls['phoneNumber'].errors && (!contactForm.controls['phoneNumber'].pristine|| isContactFormSubmitted)"
                class="error-msg">
                <div [hidden]="!contactForm.controls['phoneNumber'].errors.required">Please Enter Phone Number.</div>
                <div [hidden]="!contactForm.controls['phoneNumber'].errors.checkMobilePattern">Invalid Phone Number.</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email <small class="text-muted">(optional)</small></label>
            <input type="text" formControlName="email" class="form-control">
            <div class="error-msg-area">
              <div *ngIf="contactForm.controls['email'].errors && (!contactForm.controls['email'].pristine|| isContactFormSubmitted)"
                class="error-msg">
                <div [hidden]="!contactForm.controls['email'].errors.pattern">Please Enter Valid Email ID.</div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button *ngIf="updateUserId==null" class="btn btn-primary btn-sm" (click)="addContact()">Add</button>
        <button *ngIf="updateUserId!=null" class="btn btn-primary btn-sm" (click)="isContactFormSubmitted=true;updateContact()">Update</button>
        <button class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="AddUsersToGroupModal" tabindex="-1" role="dialog" aria-labelledby="AddUsersToGroupModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="text-white">Add To Groups</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span *ngIf="singlecontactToGroup!=null" class="font-weight-bold text-muted">1 Contact Selected</span>
          <span *ngIf="singlecontactToGroup==null" class="font-weight-bold text-muted">{{selectedContacts.length}} Contacts Selected</span><br><br>
          <!-- <div class="listDiv"> -->
            <ul class="list-group">
              <li *ngFor="let group of groupsCopy ; let i=index" class="list-group-item">
                <div class="row no-gutters">
                <div class="col-8 h6">{{group.groupName}}</div>
                <div class="col-4">
                  <a class=" btn btn-sm btn-success text-white" (click)="addContactToGroup(group.groupId)">
                    <i class="icon-plus"></i>&nbsp;Add to this Group
                </a>
                </div></div>
              </li>
            </ul>
        <!-- </div> -->
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="text-white">Confirmation</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Do you want to delete this record?
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger btn-sm" (click)="doDeleteRecord()">Delete</button>
        <button class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>