
span[aria-expanded=true] .fa-chevron-right {
    display: none;
 }
 span[aria-expanded=false] .fa-chevron-down {
    display: none;
 }
 .card-body .listDiv{
    height: 400px; 
    overflow-y: scroll;
 }

  .modal-body::-webkit-scrollbar, .listDiv::-webkit-scrollbar {
    width: 0.3em;
  }
   
  .modal-body::-webkit-scrollbar-track, .listDiv::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .modal-body::-webkit-scrollbar-thumb, .listDiv::-webkit-scrollbar-thumb {
    background-color:#455268;
    outline: 1px solid slategrey;
  }

  