<div class="card">
  <div class="card-header">
    <span class="h5">Add Group</span>
    <button class="float-right btn-sm btn btn-info" routerLink="/user/contacts"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
  </div>
  <div class="card-body col-8 mx-auto">
    <div class="row">
      <div class="col-3">
        <span for="Name" class="h6">Group Name<span class="float-right">:</span></span>
      </div>
      <div class="col-9">
        <input type="text" ([ngModel])="groupDetails.groupName"  class="form-control">
        <div class="error-msg-area">
          <div *ngIf=""
            class="error-msg">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <span for="Name" class="h6">Recipients <span class="float-right">:</span></span>
      </div>
      <div class="col-9">
        <tag-input [placeholder]="'Add a new Individual'"
          (onSelect)="onSelect($event)" [onTextChangeDebounce]="500" [theme]="'dark'"
          [secondaryPlaceholder]="'Search Individual'" [onlyFromAutocomplete]="true" [(ngModel)]="groupDetails.selectedIndividuals"
          [displayBy]="'name'" [identifyBy]="'userId'">
          <ng-template let-item="item">
            {{ item.name}}&lt;{{item.phoneNumber}}&gt;
          </ng-template>
          <tag-input-dropdown [autocompleteObservable]="requestAutoCompleteIndividual" [displayBy]="'name'"
            [identifyBy]="'userId'">
            <ng-template let-item="item" let-index="index">
              {{ item.name}}-{{item.phoneNumber}}
            </ng-template>
          </tag-input-dropdown>
        </tag-input>
        <div class="error-msg-area">
          <div *ngIf=""
            class="error-msg">
          </div>
        </div>
      </div>
    </div>
      <!-- <div class="error-msg-area">
        <div *ngIf=""
          class="error-msg">
          <div [hidden]="">Please Enter Group Name.</div>
        </div>
      </div> -->
    <div class="float-right">
      <button class="btn btn-sm btn-primary">Add Group</button>&nbsp;
      <button class="btn btn-sm btn-info">Reset</button>
    </div>
  </div>
</div>